@import "../Palette/styles";

.results {
    display: flex;
    flex-direction: row;

    &__section {
        flex: 50%;

        &--highlighted {
            border: 2px inset $secondary-color;
            border-radius: 10px;
            box-shadow: $secondary-color--accent 10px 10px;
        }
    }

    &__section-title {
        text-decoration: underline;
    }
}
